.card {
  width: 70%;
  padding: 20px;
  margin-inline: auto;
  margin-block: 20px;
  background-color: var(--color-water);
  font-weight: bold;
}

.card--blue {
  background-color: lightblue;
}

.card--red {
  background-color: lightcoral;
}

.card--yellow {
  background-color: lightyellow;
}

.card--orange {
  background-color: lightsalmon;
}
